<!doctype html>

<html>
<head>
	<title>Quote of the Day</title>
	<meta charset=utf-8>
</head>
<style>
	body {
	  background-image: url("{{ url }}");
	  background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;
	}
</style>
<body>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<div class="column">
		<div class="border">
			<div class="box">
			<div class="textbox">
				<h1>{{ text }}</h1>
				<h2>—&nbsp;{{ author }}<br>&emsp;{{ title }}</h2>
				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				<script type=text/javascript>
						$(function() {
						  $('a#test').bind('click', function() {
							$.getJSON('/background_process',
								function(data) {
							  //do nothing
							});
							return false;
						  });
						});
				</script>
				<form>
					<a href=# id=test><button onClick="history.go(0);" class='btn btn-default'>New Quote!</button></a>
				</form>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
